<!--
  Generated template for the ChatRoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ChatRoom</ion-title>
  </ion-navbar>
</ion-header>


<ion-content #ionContent padding style="height: 100%; overflow: scroll">
<ion-list no-lines id="chatRooms-list">      
        <ion-item *ngFor="let message of chatMessages" style="width: 100%">
        	<p class="bubble left" *ngIf="message.sender == 'bot'"><span class="message" >{{message.msg}}</span></p>
        	<p class="bubble right" *ngIf="message.sender == 'user'"><span class="message" >{{message.msg}}</span></p>
    	</ion-item>
    </ion-list>

</ion-content>

<ion-footer class="chatPageFooter">
  <ion-toolbar>

    <ion-item>
      <ion-label style="margin:0px;"></ion-label>
      <div item-content style="width:100%;">
        <ion-textarea #ionTxtArea
          placeholder='Type to compose'
          [(ngModel)]="content"
          lineHeight="22"
          (ngModelChange)='onChange($event)'></ion-textarea>
      </div>
    </ion-item>

    <ion-buttons right>
      <button (click)="sendMessage()" [disabled]="sendButtonDisabled">
        <ion-icon name="send" ion-android-send class="icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
