page-chat-room {
    button{
        min-width: 50px;
        max-width: 100px;
    }
    .icon{
        font-size: 2.1em;
    }
 .message {
        font-size: medium;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .bubble {
           
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        margin: 0px;
        min-width: 15%;
        max-width: 100%;
        
        
    }

    .bubble:before {
        content: "\00a0";
        display: block;
        height: 16px;
        width: 59px;
        position: absolute;
        bottom: -7.5px;
    }

    .bubble.left{
       // background-color: map-get($chat-bubble, background-left);
       background: #A9C33E!important;
        float: left;
        color: #fff;
        margin-left: 7px !important;
        border-radius: 20px;  
        border-top-left-radius: 0px;

    }

    .bubble.left:before {
        //background-color: map-get($chat-bubble, background-left);
        left: 10px;
        -webkit-transform: rotate(70deg) skew(5deg);
    }

    .bubble.right{
        //background-color: map-get($chat-bubble, background-right);
        background: #609b41!important;
        color: #fff;
        float: right;
        margin-right: 7px!important;
        border-radius: 20px;    
        border-bottom-right-radius: 0px;

    }
    
    .chat-bubble.right:before {
        //background-color: map-get($chat-bubble, background-right);
        right: 10px;
        -webkit-transform: rotate(118deg) skew(-5deg);
    }
    
    .toolbar-background {
    background-color: #A9C33E;
    }
}
