<!--
  Generated template for the CandidateModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Candidate Details<span class="close-icon"> <ion-icon ios="ios-close" md="md-close" (click)="closeModal()"></ion-icon></span></ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
        <ion-item *ngFor="let candidate of data" >
           <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                {{candidate}}
           </ion-item>
    </ion-list>


</ion-content>
