<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-slides pager="true" color="dark" primary>
  <ion-slide ng-style="background-color: #2662F7">
  <h1>Interviewbuddy Chatbot</h1>
  </ion-slide>
  <ion-slide ng-style="background-color: #FD4B4B">
<h1>GUI to CUI</h1>
  </ion-slide>
  <ion-slide ng-style="background-color: #4BC14B">
<h1>Chatbot is the future</h1>
  </ion-slide>
</ion-slides>
</ion-content>
