<!--
  Generated template for the CandidateListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Candidate list</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
     <ion-list>
        <ion-item *ngFor="let candidate of candidateList" (click)="openModal(candidate)">
           <ion-icon ios="ios-person" md="md-person"></ion-icon>
                {{candidate.firstName}} {{candidate.lastName}}
           </ion-item>
    </ion-list>
</ion-content>
